{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Finder</title>
    {% comment %} Materialize Library {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% comment %} static Files {% endcomment %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                    <a href="{% url 'home' %}" class="left brand-logo">PF</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="http://">sign in</a></li>
                    <li><a href="http://">log in</a></li>
                </ul>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
    
    <footer>
        <div> All Rights Reserved &copy; 2022 Pantry Finder &nbsp;</div>
    </footer>
</body>
</html>