{% extends 'base.html' %}

{% block content %}
    <main class="home">
        <div class="list-container">

            {% for pantry in pantries  %}

                <div class="card blue-grey darken-1">
                    <div id = "{{ pantry.id }}" data-selected = "false" class="card-content white-text">
                        <span class="card-title">{{ pantry.name }} <span>{{ pantry.wrk_hrs }}</span></span>
    
                        <p class="card-address" data-lat= {{ pantry.location.lat }} data-lng= {{ pantry.location.lng }}>{{ pantry.location.address }}</p>
                        <p>{{ pantry.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'pantry_view' pantry.id %}">Pantry Items</a>
                        <a href="https://www.google.com/maps/dir//" target="_blank" rel="noopener noreferrer">Directions</a>
                        <a href="#">{{ pantry.phone }}</a>
                        <a href="#">{{ pantry.email }}</a>
                    </div>
                </div>
                
            {% endfor %}

            {% comment %} <div>
                <h1>TEST</h1>
                <div>
                    {{ user_form.as_p }}
                </div>
                <div>
                    {{ pantry_form.as_p }}
                    
                </div>
                <div>
                    {{ location_form.as_p }}
                </div>
                
            </div> {% endcomment %}
        </div>
        <div class="map-container">

            <!--The div element for the map -->
            <div id="map"></div>
        </div>

        
    </main>

{% endblock content %}