body {
    /* background-color: aqua; */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.brand-logo {
    font-size: 72px !important;
    margin: 0.34rem 0 0 9px;

}

main {
    height: calc(100vh - 86px);
    /* flex: 1 0 auto; */
    display: grid;
    margin-bottom: 0 !important;
}

/*================home.html */
main.home {
    grid-template-columns: 1fr 2fr;
}

.searchbar {
    display: inline-block;
    width: 35%;
    margin: 0 0 0 23.3rem;
}

.list-container {
    
    overflow: auto;
}

.card {
    margin: 0 1rem 1rem 0;
}

.card-action>* {
    white-space: nowrap;
}

.map-container {
    display: flex;
    
    align-items: center;
}

/*================pantry_view.html */

#card-info>p {
    white-space: pre-wrap;
}

/*================user_auth.html */
main.user_auth {
    grid-template-columns: 1fr 1fr;
}

.signup-container {
    margin: auto;
    padding: 5%;
}

.login-container {
    margin: 26% 5%;
    padding: 5%;
}

/*================pantry_creation.html */
main.pantry_creation {
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr; */
    display: block;
    height: fit-content;
}

.hasitem-input {
    display: grid;
}

/* .help-text {

} */

.input-field {
    margin-bottom: 0;
}
.input-field textarea {
    max-width: 100%;
    height: 182px;
}

/* textarea[name='description']{
    max-width: 100%;
    height: 182px;
} */

.errorlist {
    color: red;
    margin-top: 0;
    margin-bottom: 26.5px;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */


    /* FOR TESTING */
    border: black;
    border-style: double;
}


footer {
    height: 21px;
    padding-top: 0;
    text-align: right;
}